pre {
  font-size: 10px !important;
  line-height: 1.2 !important;
  margin: 0.5em 0 !important;
  padding: 0.3em !important;
  white-space: pre-wrap;
  word-break: break-word;
}
code {
  font-size: 10px !important;
}